<section class="section lightweight-template">
  <div class="container py-1">

    <div class="row">
      <div class="col-lg-6 col-md-12 mx-auto">
        <div class="defaultTheme PlanPickerWizard">
          <div class="rms-container">
            <div class="rms-form-wizard">
              <div class="rms-step-section compeletedStepClickable" data-step-counter="true" data-step-image="false">
                <ul class="rms-multistep-progressbar">
                  <li class="rms-step completed-step"><span class="step-title">Plan</span>
                  </li>
                  <li class="rms-step completed-step"><span class="step-title">Billing</span>
                  </li>
                  <li class="rms-step rms-current-step"><span class="step-title">Shop Setup</span>
                  </li>
                  <li class="rms-step"><span class="step-title">&nbsp;</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section lightweight-template">
  <div class="container pt-0">
    <div class="row">
      <div class="col-lg-11 col-md-12 mx-auto col-md-12">
        <div class="row">

          <div class="col-lg-7 col-md-12">

            <div class="card">
              <div class="card-body">
                <h3 class="h4 text-darkgrey">
                  Let's set up shop!
                </h3>
                <p class="text-grey font-15">We respect your privacy and protect it with strong encryption to use.</p>
                <div class="form-horizontal PlanPayMeth">

                  <div class="row  form-group">
                    <label class="col-md-12 col-sm-12 col-form-label"> Shop Name </label>
                    <div class="col-md-12 col-sm-12">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="row  form-group">
                      <label class="col-md-12 col-sm-12 col-form-label"> Bussiness Catagory </label>
                      <div class="col-md-12 col-sm-12">
                        <select class="form-control">
                          <option>Hair Salon </option>
                          <option>Toy</option>
                          <option>Toy</option>
                          <option>Toy</option>
                          <option>Hair Salon </option>
                          <option>Toy</option>
                          <option>Toy</option>
                          <option>Toy</option>
                        </select>
                      </div>
                    </div>
                  <div class="row mt-4 mb-3">
                    <div class="col-md-12">
                      <h3 class="font-18 text-darkgrey mb-2">
                        Shop Address
                      </h3>
                      <p class="text-grey font-15 my-0">Enter your Shop Address</p>
                    </div>
                  </div>
                  <div class="row  form-group">
                    <label class="col-md-12 col-sm-12 col-form-label"> Address</label>
                    <div class="col-md-12 col-sm-12">
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="col-lg-6 col-md-12 form-group">
                      <div class="row">
                        <label class="col-md-12 col-sm-12 col-form-label"> City </label>
                        <div class="col-md-12 col-sm-12">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 form-group">
                      <div class="row">
                        <label class="col-md-12 col-sm-12 col-form-label"> Zip Code </label>
                        <div class="col-md-12 col-sm-12">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="col-lg-6 col-md-12 form-group">
                      <div class="row">
                        <label class="col-md-12 col-sm-12 col-form-label"> State </label>
                        <div class="col-md-12 col-sm-12">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 form-group">
                      <div class="row">
                        <label class="col-md-12 col-sm-12 col-form-label"> Country </label>
                        <div class="col-md-12 col-sm-12">
                          <select class="form-control">
                            <option>Pak</option>
                            <option>Ind</option>
                            <option>Afg</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row ">
                    <div class="col-lg-6 col-md-12 form-group">
                      <div class="row">
                        <label class="col-md-12 col-sm-12 col-form-label"> Shop Phone Number </label>
                        <div class="col-md-12 col-sm-12">
                          <input class="form-control" type="text">
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row  form-group">
                    <div class="col-md-12 col-sm-12 text-right">
                      <button class="btn btn-outline-accent font-17 mr-3" routerLink="/billing">Back</button>
                      <button class="btn btn-accent font-17" routerLink="/configuration">Save and Continue</button>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 ">
            <div class="sticky">
              <div class="card effect6 ">
                <div class="card-body" style="padding: 0">
                <app-reciptsample></app-reciptsample>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
<app-footerregistration></app-footerregistration>