<!-- <div class="row UiPricePlan-header  position-relative background__Price gradientheader"
  style="z-index: 10;">

    <div class="col-lg-12" style="z-index: 3">

    <h2 class=" UiPricePlan-heading text-white mt-3 text-center">Wellcome to insightspread</h2>
  </div>

</div> -->

<section class="section lightweight-template">
  <div class="container py-1">

    <div class="row">
      <div class="col-lg-6 col-md-12 mx-auto">
        <div class="defaultTheme PlanPickerWizard">
          <div class="rms-container">
            <div class="rms-form-wizard">
              <div class="rms-step-section compeletedStepClickable" data-step-counter="true" data-step-image="false">
                <ul class="rms-multistep-progressbar">
                  <li class="rms-step completed-step"><span class="step-title">Plan</span>
                  </li>
                  <li class="rms-step rms-current-step"><span class="step-title">Billing</span></li>
                  <li class="rms-step "><span class="step-title">&nbsp;</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section lightweight-template">
  <div class="container pt-0">
    <div class="row">
      <div class="col-lg-11 col-md-12 mx-auto col-md-12">
        <div class="row">

          <div class="col-lg-7 col-md-12">
            <div class="card  ">
              <div class="card-body">
                  <h3 class="h5 text-darkgrey">
                  Billing period
                </h3>
                <p class="font-14 text-grey my-3">
                  Choose how often you'd like to be billed.
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <ul class="UiBillingperiod">
                      <li>
                        <div class="row">
                          <div class="col-md-8"><label><input class="check" name="Billingperiod" type="radio"
                                checked><span class="font-16 font-weight-normal ml-3">Pay every 12 month</span></label>
                          </div>
                          <div class="col-md-4  text-right"><span class="font-18  text-greydark"> $ 70 </span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-8"><label><input class="check" name="Billingperiod" type="radio"><span
                                class="font-16 font-weight-normal ml-3">Pay every 12 month</span><span
                                class="ml-3 d-sm-inline-block d-block text-themes font-13 font-weight-normal">Save upto
                                20%</span></label></div>
                          <div class="col-md-4 text-right"><span class="font-18 text-greydark"> $ 250 </span></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-8"><label><input class="check" name="Billingperiod" type="radio"><span
                                class="font-16 font-weight-normal ml-3">Pay every 36 month</span><span
                                class="ml-3 d-sm-inline-block d-block text-themes font-13 font-weight-normal">Save upto
                                40%</span></label></div>
                          <div class="col-md-4 text-right"><span class="font-18  text-greydark "> $ 500 </span></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="card  my-3">
              <div class="card-body">
                <h3 class="h5 text-darkgrey">
                  Credit Card Information
                </h3>
                <p class="font-14 text-grey my-3">Bacha ch**ne ky lya card ki detail daal.</p>

                <div class="form-horizontal PlanPayMeth">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-md-12">
                              <div class="row"><label class=" col-md-12 col-sm-12 col-form-label">
                                  Card
                                  Holder Name </label>
                                <div class="col-md-12 col-sm-12"><input class="form-control " type="text"></div>
                              </div>
                            </div>
                          </div>
                      <div class="row form-group">
                        <label class=" col-md-12 col-sm-12 col-form-label">
                          Card Number 
                        <img src="/assets/img/creditcards.png" height="30" class="float-right d-none d-lg-block">
                        </label>
                        <div class=" col-md-12 col-sm-12">
                          <input class="form-control" type="text">
                          <div class="is-vaild animation shake">Example invalid feedback text</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6  form-group">
                          <div class="row"><label class=" col-md-12 col-sm-12 col-form-label">
                              Expiry </label>
                            <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                          </div>
                        </div>
                        <div class="col-md-6 form-group">
                          <div class="row"><label class=" col-md-12 col-sm-12 col-form-label">
                              CVV
                            </label>
                            <div class=" col-md-12 col-sm-12 ">
                              <div class="input-group"><input class="input-text form-control nohover noShowIcon"
                                  type="number">
                                <div class="input-group-append pl-0  b-0"><span class="input-group-text bg-white">
                                    <i class="fa fa-question font-16 font-weight-normal text-muted" placement="top"
                                      ngbPopover="The three-digit CVV number is printed on the signature panel  on the back of the card  immediately after the card account number."></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
            
                      <h3 class="h5 text-darkgrey">Billing Address</h3>
                      <p class="font-14 text-grey my-3">Bacha ch**ne ky lya card ki detail daal.</p>
                  </div>
                </div>
                <div class="form-horizontal">
                  <div class="row form-group">
                    <div class="col-md-6">
                      <div class="row"><label class="col-md-12 col-sm-12 col-form-label"> First Name </label>
                        <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row"><label class="col-md-12 col-sm-12 col-form-label"> Last Name </label>
                        <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group"><label class="col-md-12 col-sm-12 col-form-label"> Street Address
                    </label>
                    <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-6">
                      <div class="row"><label class="col-md-12 col-sm-12 col-form-label"> City </label>
                        <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row"><label class="col-md-12 col-sm-12 col-form-label"> Zip </label>
                        <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-6">
                      <div class="row"><label class="col-md-12 col-sm-12 col-form-label"> Country </label>
                        <div class=" col-md-12 col-sm-12"><select class="form-control jsselect">
                            <option>USA</option>
                            <option>UK</option>
                            <option>Pakistan</option>
                            <option>India</option>
                            <option>Cania</option>
                            <option>UAE</option>
                          </select></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row"><label class="col-md-12 col-sm-12 col-form-label"> Region </label>
                        <div class=" col-md-12 col-sm-12"><input class="form-control" type="text"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 ">
            <div class="sticky">
              <div class="card effect6 ">
                <div class="card-body" style="padding: 30px 25px">
                  <h3 class="h4 text-darkgrey mb-4">
                    Bill Summary
                  </h3>
                  <div class="row my-2">
  
  
                    <div class="col-md-6">
                      <p class="my-2 font-18">Ultimate Plan</p>
                    </div>
                    <div class="col-md-6 text-right"><button class="btn btn-accent btn-sm">Change Plan</button></div>
                  </div>
                  <div class="billsummary mt-3">
                    <ul>
                      <li>
                        <p class="label">Ultimate Plan</p>
                        <p class="value">$500/month</p>
                      </li>
                      <li>
                        <p class="label">200 Order</p>
                        <p class="value">$1500/month</p>
                      </li>
  
                      <li>
                        <p class="label">Addon 30 Day Email</p>
                        <p class="value">$0 /month</p>
                      </li>
  
                    </ul>
                  </div>
                  <div class="row my-4 ">
                    <div class="col-md-8">
                      <p class="font-18 my-2">Auto Renew</p>
                    </div>
                    <div class="col-md-4 text-right">
                      <div class="switchToggle mt-2 "><label class="d-inline-block"><input type="checkbox"><span
                            class="slider round"></span></label></div>
                    </div>
                    <div class="col-md-12">
                      <p class="text-grey font-14 my-0">Your Subcrition renew in 30 days</p>
                    </div>
                  </div>
                  <div>
                    <div style="height: 15px"></div>
                    <div class="row">
            

                            <div class="col-md-12">
  
                    <h3 class="h5 ">
                      Total Per Month
                    </h3>
                    <h3 class="h5 font-weight-bold text-right">
                      $1,824
                    </h3>
                  </div>
                </div>

                    <div style="height: 25px"></div>
                    <button class="btn btn-accent btn-block text-center  font-17" routerLink="/accountsetup">Save and
                      Continue</button>
                      <button class="btn btn-accent btn-block text-center  font-17" (click)="showtoaster()">Error</button>
                      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-footerregistration></app-footerregistration>