

    <section class="section lightweight-template">
    <div class="card">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <a class="btn-link font-16 mr-3" href="#">About</a>
          <a class="btn-link font-16 mr-3" href="#">Help</a>
          <a class="btn-link font-16" href="#">Documentation</a>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 text-center">
            <img src="/assets/img/ISLogo.svg" width="175">
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 text-lg-right">
      <p class="mt-2 mb-0 color-2 small">© 2019 Insight Spread. All Rights Reserved</p></div>
      </div>
      <div class="row  pt-3 pb-0">
        <div class="col-md-12">
            <nav class="nav text-center  justify-content-center language-footer billing-footerlang">
                <a href="#" class="mr-3">English</a>
                <a href="#" class="mr-3">Urdu</a>
                <a href="#" class="mr-3">Panjabi</a>
                <a href="#" class="mr-3">Sindhi</a>
                <a href="#" class="mr-3">Arabic</a>
            </nav>

        </div>

    </div>
    </div>
    </div>
    </section>
  
