<nav class="navbar navbar-expand-lg main-nav navigation b-b  sidebar-left mobilefixed d-none d-lg-flex">


  <div class="container">

    <button class="navbar-toggler btn--navbartoggle" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#main" class="navbar-brand">
      <img src="/assets/img/ISLogo.svg" alt="Dashcore" class="logo">
    </a>
    <p class="text-muted text-right">
      Already have an account? <a href="#" class="btn-link">Log In</a></p>

  </div>
</nav>


<div class="container-fluid user-register">
  <div class="row user-register-grid">

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 user-register-right">
      <div class="user-register-right-container">
        <div class="user-register-right-inner">
          <div class="register-step">

          </div>
            <div class="register-form ">

              <form class="form-horizental">
  
  
                <div class="form-continer  pb-0">
                    <div class="animated fadeIn">
  
                  <h4 class="signuptitle">Get Insight Spread Today</h4>
                  <p class="text-secondary mt-2 mb-4 ">There are no charge or obligation upon registration
                  </p>
  
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" placeholder="Your Name">
                  </div>
                  <div class="form-group mt-4">
                    <input type="email" class="form-control form-control-lg" placeholder="Country">
                  </div>
    
                  <div class="form-group mt-4 row align-items-center">
                    <div class="col-lg-6 col-md-12">
                      <a class="btn-link font-20" routerLink="/signup"> <img src="/assets/img/icon/right-arrow-blue.svg"
                          width="16" class="flip-vertical mb-1"> Back</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <button class="btn btn-accent btn-block text-center" routerLink="/billing">Next</button>
                    </div>
  
                  </div>
  
                  <img src="/assets/img/create_team.png" class="img-responsive mt-5 mb-3">
  
                </div>
            </div>

              </form>
  
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footerregistration></app-footerregistration>