
<nav class="navbar navbar-expand-lg main-nav navigation b-b  sidebar-left mobilefixed d-none d-lg-flex" >


    <div class="container">
  
        <button class="navbar-toggler btn--navbartoggle" type="button" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#main" class="navbar-brand">
            <img src="/assets/img/ISLogo.svg" alt="Dashcore" class="logo">
        </a>
            <p class="text-muted text-right">
                Already have an account? <a href="#" class="btn-link">Log In</a></p>
  
    </div>
  </nav>
  

<div class="container-fluid user-register">
    <div class="row user-register-grid">
    
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 user-register-right">
            <div class="user-register-right-container">
                <div class="user-register-right-inner">
                    <div class="register-step">

                    </div>
                    <div class="register-form">
                        <form class="form-horizental">
                         

                            <div class="form-continer pb-0">

                                <h4 class="signuptitle">Get Insight Spread Today</h4>
                                <p class="text-secondary mt-2 mb-4 ">There are no charge or obligation upon registration
                                </p>
   
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" placeholder="Email address">
                                    <!-- <div class="is-vaild animation shake">Invalid Email Address</div> -->
                                </div>
                                <div class="form-group mt-4">
                                    <input type="email" class="form-control form-control-lg"  placeholder="Password">
                                </div>
                                <div class="form-group mt-4">
                                    <!-- <p class="text-muted small mt-4 mb-2">By Clicking "Create Account ", you accept
                                        our</p>
                                    <p class="text-muted small mb-3"><a href="#" class="btn-link">Terms of
                                            Service</a> and <a href="#" class="btn-link">Privacy Policy.</a></p> -->
                                    <button class="btn btn-accent btn-block text-center" routerLink="/create">Create
                                        Account</button>
                                </div>
                          
 <img src="/assets/img/create_team.png" class="img-responsive mt-5 mb-3">

                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footerregistration></app-footerregistration>