<main class="lightweight-template">
    <!-- ./Page header -->
    <header class="header section parallax image-background center-bottom cover   gradient gradient-50 color-1">
        <div class="container overflow-hidden pb-0">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h1 class="display-4 color-1 bold text-center">A plan for everyone.
                    </h1>
                    <p class="lead text-center">Get the power, control, and customization you need to manage your
                        team’s and organization’s projects
                    </p>

                </div>
            </div>
            <div style="height: 40px"> </div>

            <div class="row">


             <div class="col-md-12 col-sm-12 col-xl-12 ">

                    <div class="pakage-selector">
                        <nav class="nav nav-pills flex-column flex-lg-row price-tab-header">
                            <a class="flex-sm-fill nav-link active">
                                <h3 class="price-plan">Free</h3>
                                <div class="price">$0 <span class="small">\month</span></div>
                            </a>
                            <a class="flex-sm-fill nav-link">
                                <h3 class="price-plan">Basic</h3>
                                <div class="price">$100 <span class="small">\month</span></div>
                            </a>
                            <a class="flex-sm-fill nav-link">
                                <h3 class="price-plan">Professional</h3>
                                <div class="price">$150 <span class="small">\month</span></div>
                                <p class="price-decs">billed annually</p>
                            </a>
                            <a class="flex-sm-fill nav-link">
                                <h3 class="price-plan">Enterprise</h3>
                                <div class="price">$180 <span class="small">\month</span></div>
                                <p class="price-decs">billed annually</p>

                            </a>
                        </nav>
                    </div>
            </div>
        </div>
    </div>
    </header>


    <section class="section lightweight-template">
        <div class="price--selector">
            <div class="price__selector">
                <div class="btn-group btn-group-toggle UiPricePlan__price" data-toggle="buttons"><label
                        class="btn active"><input checked="" name="options" type="radio"> $ </label><label
                        class="btn"><input name="options" type="radio"> Rs </label><label class="btn"><input
                            name="options" type="radio"> ∉ </label><label class="btn"><input name="options"
                            type="radio"> Rs </label><label class="btn"><input name="options" type="radio"> ∉
                    </label></div>
            </div>
        </div>
        <div class="container">


            <div class="row">
                <div class="col-md-12 col-lg-4 col-sm-12 col-xl-3">
                    <div class="priceplanleft">

                        <nav class="nav nav-pills  plan-selector">

                            <a class="flex-fill nav-link active">
                                <h3 class="plan-name">Insightspread Retail</h3>
                                <div class="paln-desc">For those who went look around first</div>
                            </a>
                            <a class="flex-fill nav-link">
                                <h3 class="plan-name">Insightspread Ecommerce</h3>
                                <div class="paln-desc">For those who went look around first</div>
                            </a>
                            <a class="flex-fill nav-link">
                                <h3 class="plan-name">Insightspread Marketing</h3>
                                <div class="paln-desc">For those who went look around first</div>
                            </a>
                            <a class="flex-fill nav-link">
                                <h3 class="plan-name">Insightspread Business</h3>
                                <div class="paln-desc">For those who went look around first</div>
                            </a>
                        </nav>
                        <div style="height: 50px"> </div>
                        <div class="text-darkgrey font-15 w-90 mx-auto text-center">
                            <p class="text-center text-grey">We offer special pricing for seed-stage or Series A
                                startups that
                                qualify for our

                            </p>
                            <a href="#" class="btn-link mt-4 font-weight-bold">See Term & policy</a>

                        </div>
                        <div style="height: 50px"> </div>
                        <div class="text-darkgrey font-15 w-90 mx-auto text-center">
                            <h3 class="m-0 h5 line-height">
                                Not sure which plan is right for you?
                            </h3>
                            <p class="text-center text-grey">We offer special pricing for seed-stage or Series A
                                startups that
                                qualify for our </p>
                            <p class="mt-4 font-18 text-themes font-weight-bold"><i
                                    class="fas fa-phone-square fa-flip-horizontal"></i> +61-2-8046-6514</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-7 col-sm-12 col-xl-9">

                    <div class="card pakage-feature">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-lg-8">
                                    <h1 class="h4">Contact Sale</h1>
                                    <p class="font-17 text-darkgrey line-height mt-2">Advanced project visibility for teams who want
                                        to scale high
                                        performance
                                        across.</p>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-4 text-right">
                                    <button type="button" class="btn btn-accent">
                                        Get Start
                                    </button>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="div pkg-featre">
                                        <ul>
                                            <li><a data-toggle="popover" data-placement="bottom"
                                                    data-content="And here's some amazing content.">250GB
                                                    file space</a></li>
                                            <li><a>Add up to 100 users</a></li>
                                            <li><a>Board View</a></li>
                                            <li><a> Subtasks</a></li>
                                            <li><a>Color themes</a></li>
                                            <li>
                                                <a data-toggle="popover" data-trigger="hover" data-placement="bottom"
                                                    data-content="And here's some amazing content.">


                                                    250GB file space
                                                </a>
                                            </li>
                                            <li class="disabled"> 600 projects</li>
                                            <li>Add up to 100 users</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="div pkg-featre">
                                        <ul>
                                            <li><a data-toggle="popover" data-placement="bottom"
                                                    data-content="And here's some amazing content.">250GB
                                                    file space</a></li>
                                            <li class="disabled"><a>Add up to 100 users</a></li>
                                            <li><a>Board View</a></li>
                                            <li><a> Subtasks</a></li>
                                            <li><a>Color themes</a></li>
                                            <li>
                                                <a data-toggle="popover" data-placement="bottom"
                                                    data-content="And here's some amazing content.">

                                                    250GB file space
                                                </a>
                                            </li>
                                            <li class="disabled"> 600 projects</li>
                                            <li class="disabled"> Add up to 100 users</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="height:40px"></div>
                    <div class="plansection2">
                        <h3 class="h4 my-3">Usage</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card plansection2-card">
                                    <div class="card-body text-center plansection2-cardbody">
                                        <i class="fal fa-users"></i>
                                        <h3>Unlimited Users</h3>
                                        <p>Invite your entire team to use HubSpot CRM. Each and every CRM user is
                                            free.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card plansection2-card">
                                    <div class="card-body text-center plansection2-cardbody">
                                        <i class="fal fa-users"></i>
                                        <h3>Unlimited Users</h3>
                                        <p>Invite your entire team to use HubSpot CRM. Each and every CRM user is
                                            free.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card plansection2-card">
                                    <div class="card-body text-center plansection2-cardbody">
                                        <i class="fal fa-users"></i>
                                        <h3>Unlimited Users</h3>
                                        <p>Invite your entire team to use HubSpot CRM. Each and every CRM user is
                                            free.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height:40px"></div>

                    <div id="extrafeature" class="extra-feature">
                        <div class="card js_collapseparent">
                            <div class="card-header js_collapse">
                                <div class="extra-featureheader">
                                    <h3>ADD-ONS</h3>
                                    <p>Customize and enhance your plan with additional features. </p>
                                </div>
                                <i class="collapseicon"></i>
                            </div>

                            <div class="chliduserdoclist collapse">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 col-sm-12 ">
                                            <div class="card extrafeature" [ngClass]="{'active' : active}"
                                                (click)="activetoggle()">
                                                <div class="card-body">
                                                    <div class="">
                                                        <img src="/assets/img/icon/email.svg" class="extrafeature-icon">
                                                    </div>
                                                    <h3>Ecommerce</h3>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry.</p>

                                                    <div class="UiFeatureAddonPrice"><span
                                                            class="UiFeatureAddonPrice__currency">$</span><span
                                                            class="UiFeatureAddonPrice__Price">100</span><span
                                                            class="UiFeatureAddonPrice__Priod">/Month</span></div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-sm-12 ">
                                            <div class="card extrafeature" [ngClass]="{'active' : active}"
                                                (click)="activetoggle()">
                                                <div class="card-body">
                                                    <div class="">
                                                        <img src="/assets/img/icon/block.svg" class="extrafeature-icon">
                                                    </div>
                                                    <h3>Ecommerce</h3>
                                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>

                                                    <div class="UiFeatureAddonPrice"><span
                                                            class="UiFeatureAddonPrice__currency">$</span><span
                                                            class="UiFeatureAddonPrice__Price">100</span><span
                                                            class="UiFeatureAddonPrice__Priod">/Month</span></div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-sm-12 ">
                                            <div class="card extrafeature">
                                                <div class="card-body">
                                                    <div class="">
                                                        <img src="/assets/img/icon/store.svg" class="extrafeature-icon">
                                                    </div>
                                                    <h3>Ecommerce</h3>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and
                                                        typesetting industry.</p>

                                                    <div class="UiFeatureAddonPrice"><span
                                                            class="UiFeatureAddonPrice__currency">$</span><span
                                                            class="UiFeatureAddonPrice__Price">100</span><span
                                                            class="UiFeatureAddonPrice__Priod">/Month</span></div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 pt-4 pb-3 text-center">
                                            <a role="button" class="btn-link text-primary font-17"
                                                data-toggle="collapse" data-target="#seefeaturemore">See more
                                                addon</a>
                                        </div>
                                    </div>
                                    <div class="collapse seefeaturemore" id="seefeaturemore">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 my-3">
                                                <div class="card extrafeature">
                                                    <div class="card-body">
                                                        <div class="media ">
                                                            <img class="mr-3 extrafeature-icon"
                                                                src="/assets/img/icon/store.svg">
                                                            <div class="media-body">
                                                                <h3>Ecommerce
                                                                    <div class="UiFeatureAddonPrice float-right">
                                                                        <span
                                                                            class="UiFeatureAddonPrice__currency">$</span><span
                                                                            class="UiFeatureAddonPrice__Price">100</span><span
                                                                            class="UiFeatureAddonPrice__Priod">/Month</span>
                                                                    </div>
                                                                </h3>
                                                                <p>Lorem Ipsum is simply dummy text of the printing
                                                                    and
                                                                    typesetting industry.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-lg-12 my-3">
                                                <div class="card extrafeature">
                                                    <div class="card-body">
                                                        <div class="media ">
                                                            <img class="mr-3 extrafeature-icon"
                                                                src="/assets/img/icon/email.svg">
                                                            <div class="media-body">
                                                                <h3>Ecommerce
                                                                    <div class="UiFeatureAddonPrice float-right">
                                                                        <span
                                                                            class="UiFeatureAddonPrice__currency">$</span><span
                                                                            class="UiFeatureAddonPrice__Price">100</span><span
                                                                            class="UiFeatureAddonPrice__Priod">/Month</span>
                                                                    </div>
                                                                </h3>
                                                                <p>Lorem Ipsum is simply dummy text of the printing
                                                                    and
                                                                    typesetting industry.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-12 my-3">
                                                <div class="card extrafeature">
                                                    <div class="card-body">
                                                        <div class="media ">
                                                            <img class="mr-3 extrafeature-icon"
                                                                src="/assets/img/icon/store.svg">
                                                            <div class="media-body">
                                                                <h3>Ecommerce
                                                                    <div class="UiFeatureAddonPrice float-right">
                                                                        <span
                                                                            class="UiFeatureAddonPrice__currency">$</span><span
                                                                            class="UiFeatureAddonPrice__Price">100</span><span
                                                                            class="UiFeatureAddonPrice__Priod">/Month</span>
                                                                    </div>
                                                                </h3>
                                                                <p>Lorem Ipsum is simply dummy text of the printing
                                                                    and
                                                                    typesetting industry.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card js_collapseparent">
                            <div class="card-header js_collapse">
                                <div class="extra-featureheader">
                                    <h3>PREMIUM SERVICES</h3>
                                    <p>Customize and enhance your plan with additional features. </p>
                                </div>
                                <i class="collapseicon"></i>
                            </div>

                            <div class="chliduserdoclist collapse">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="card jsUiFeatureAddon  disable-user-select">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <input class="check" type="checkbox">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="UiFeatureAddonPrice text-right"><span
                                                                    class="UiFeatureAddonPrice__currency">$</span><span
                                                                    class="UiFeatureAddonPrice__Price">100</span><span
                                                                    class="UiFeatureAddonPrice__Priod">/Month</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>
                                                                30 Days of Email Activity History
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="row my-2">
                                                        <div class="col-md-12">
                                                            <p class="text-darkgrey font-14"> Gain further
                                                                insights into your sending with additional history
                                                                and API
                                                                access. </p><a class="btn-link font-15" href="#">Learn
                                                                More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12">
                                            <div class="card jsUiFeatureAddon  disable-user-select">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <input class="check" type="checkbox">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="UiFeatureAddonPrice text-right"><span
                                                                    class="UiFeatureAddonPrice__currency">$</span><span
                                                                    class="UiFeatureAddonPrice__Price">100</span><span
                                                                    class="UiFeatureAddonPrice__Priod">/Month</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>
                                                                30 Days of Email Activity History
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="row my-2">
                                                        <div class="col-md-12">
                                                            <p class="text-darkgrey font-14"> Gain further
                                                                insights into your sending with additional history
                                                                and API
                                                                access. </p><a class="btn-link font-15" href="#">Learn
                                                                More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="height:40px"></div>

                    <div class="extra-feature2 ">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false">Orders</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="extra-feature2addon">
                                    <div class="row  align-items-center">
                                        <div class="col-lg-8 col-md-12 col-sm-12 order-2 order-lg-1">
                                            <h3 class="font-weight-bold font-20">How much user you want</h3>
                                            <div class="row mt-4  align-items-center">
                                                <div class="col-lg-2 col-md-3 col-sm-12">
                                                    <h3 class="font-weight-normal font-18">Users</h3>

                                                </div>
                                                <div class="col-lg-10 col-md-9 col-sm-12 pr-lg-5">
                                                    <ng5-slider [options]="Useroptions"
                                                        [formControl]="UsersliderControl"></ng5-slider>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 bg-darkblue">
                                            <div class="py-4 px-3">
                                                <h3 class="text-light font-18 font-weight-bold m-0">User Custom</h3>
                                                <p class="text-light font-16"> The complete email service for
                                                    sophisticated
                                                    senders.</p>
                                                <div class="UiFeatureAddonPrice">
                                                    <span class="font-18 font-weight-bold  text-light">Estimate :
                                                    </span>
                                                    <span class="UiFeatureAddonPrice__currency text-light">$</span><span
                                                        class="UiFeatureAddonPrice__Price text-light">100</span><span
                                                        class="UiFeatureAddonPrice__Priod text-light">/Month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="extra-feature2addon">
                                    <div class="row  align-items-center">
                                        <div class="col-lg-8 col-md-12 col-sm-12 order-2 order-lg-1">
                                            <h3 class="font-weight-bold font-20">How much Products you want</h3>
                                            <div class="row mt-4  align-items-center">
                                                <div class="col-lg-2 col-md-3 col-sm-12">
                                                    <h3 class="font-weight-normal font-18">Products</h3>

                                                </div>
                                                <div class="col-lg-10 col-md-9 col-sm-12 pr-lg-5">
                                                    <ng5-slider [options]="Useroptions"
                                                        [formControl]="UsersliderControl"></ng5-slider>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 bg-darkblue">
                                            <div class="py-4 px-3">
                                                <h3 class="text-light font-18 font-weight-bold m-0">Products Custom</h3>
                                                <p class="text-light font-16"> The complete email service for
                                                    sophisticated
                                                    senders.</p>
                                                <div class="UiFeatureAddonPrice">
                                                    <span class="font-18 font-weight-bold  text-light">Estimate :
                                                    </span>
                                                    <span class="UiFeatureAddonPrice__currency text-light">$</span><span
                                                        class="UiFeatureAddonPrice__Price text-light">180</span><span
                                                        class="UiFeatureAddonPrice__Priod text-light">/Month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="extra-feature2addon">
                                    <div class="row  align-items-center">
                                        <div class="col-lg-8 col-md-12 col-sm-12 order-2 order-lg-1">
                                            <h3 class="font-weight-bold font-20">How much Orders you want</h3>
                                            <div class="row mt-4  align-items-center">
                                                <div class="col-lg-2 col-md-3 col-sm-12">
                                                    <h3 class="font-weight-normal font-18">Orders</h3>

                                                </div>
                                                <div class="col-lg-10 col-md-9 col-sm-12 pr-lg-5">
                                                    <ng5-slider [options]="Useroptions"
                                                        [formControl]="UsersliderControl"></ng5-slider>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 bg-darkblue">
                                            <div class="py-4 px-3">
                                                <h3 class="text-light font-18 font-weight-bold m-0">Orders Custom</h3>
                                                <p class="text-light font-16"> The complete Orders service for
                                                    sophisticated
                                                    senders.</p>
                                                <div class="UiFeatureAddonPrice">
                                                    <span class="font-18 font-weight-bold  text-light">Estimate :
                                                    </span>
                                                    <span class="UiFeatureAddonPrice__currency text-light">$</span><span
                                                        class="UiFeatureAddonPrice__Price text-light">1600</span><span
                                                        class="UiFeatureAddonPrice__Priod text-light">/Month</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section lightweight-template">

            <div class="card bg-light ">
            <div class="card-body">
        <div class="container py-3">

                <div class="cost--calaulator">

                    <div class="row align-items-center">
     
                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                    <a class="btn-link text-primary font-16" data-toggle="modal"
                                        data-target="#detailcost">See how we arrived at
                                        this pricing</a>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-right  mt-3">
                                    <label class=" text-darkgrey mr-3 font-weight-light font-20">
                                        Essitmate to pay
                                    </label>
                                    <label class="font-weight-bold h4">$2,250</label>
                                    <span class="font-16 text-darkgrey"> per month</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-right mt-2">
                                    <button type="button" class="btn btn-accent"  routerLink="/signup">Get
                                        Started</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div style="height: 80px"> </div>

    <section class="singl-testimonial shadow">
        <div class="container-fluid py-0">
            <div class="row align-items-center gradient gradient-50 color-1">
                <div class="col-md-12 col-lg-5 image-background cover center-top"   style="background-image: url(/assets/img/hello_there__small.jpg);"></div>
                <div class="col-md-12 col-lg-6 mx-auto py-4 py-md-0">
                    <p class="font-14  font-weight-bold">CUSTOMER SUPPORT</p>
                    <h3 class="h3">Insight is more than just software.</h3>
                    <p class="font-16">You don’t have to go it alone. HubSpot’s award-winning customer support and
                        services teams are here to answer your questions, help you master the inbound methodology, and
                        make sure you’re getting the most out of your tools. All that — plus our detailed help
                        documentation, educational resources, and training programs.</p>
                    <div class="row mt-5">
                        <div class="col-md-4 col-sm-12 text-center">
                            <svg height="32" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="headset"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                class="svg-inline--fa fa-headset fa-w-16 fa-2x">
                                <path fill="currentColor"
                                    d="M192 224c0-17.67-14.33-32-32-32h-32c-35.35 0-64 28.65-64 64v63.64c0 35.35 28.65 64 64 64h32c17.67 0 32-14.33 32-32V224zm-32 127.64h-32c-17.64 0-32-14.36-32-32V256c0-17.64 14.36-32 32-32h32v127.64zm224 32c35.35 0 64-28.65 64-64V256c0-35.35-28.65-64-64-64h-32c-17.67 0-32 14.33-32 32v127.64c0 17.67 14.33 32 32 32h32zM352 224h32c17.64 0 32 14.36 32 32v63.64c0 17.64-14.36 32-32 32h-32V224zM256 0C113.97 0 3.92 117.82.1 256L0 280c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8l.09-24C35.43 135.19 131.63 32 256 32c123.5 0 224 100.48 224 224v176c0 26.47-21.53 48-48 48h-82.94c1.79-5.03 2.94-10.36 2.94-16 0-26.51-21.49-48-48-48h-64c-26.51 0-48 21.49-48 48s21.49 48 48 48h192c44.12 0 80-35.89 80-80V256C512 114.85 397.16 0 256 0zm48 480h-64c-8.82 0-16-7.18-16-16s7.18-16 16-16h64c8.82 0 16 7.18 16 16s-7.18 16-16 16z"
                                    class=""></path>
                            </svg>
                            <p class="font-16  font-weight-bold">
                                Phone & Email Support</p>
                        </div>
                        <div class="col-md-4 col-sm-12 text-center">
                            <i class="fal fa-book fa-2x"></i>

                            <p class="font-16  font-weight-bold">
                                Help Documentation</p>
                        </div>
                        <div class="col-md-4 col-sm-12 text-center">
                            <i class="fal fa-users fa-2x"></i>
                            <p class="font-16  font-weight-bold">
                                Community Support
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="height: 80px"> </div>

    <section class="section lightweight-template bg-6 edge bottom-right">
        <div style="height: 20px"> </div>

        <div class="container">
            <h3 class="h3 text-darkgrey text-lg-center">Frequently Asked Questions</h3>
            <div style="height: 40px"> </div>

            <div class="row">
                <div class="col-lg-8 col-md-12 mx-lg-auto">
                    <div id="extrafeature" class="pricing-common-faqs">
                        <div class="card js_collapseparent">
                            <div class="card-header js_collapse">
                                <div class="extra-featureheader">
                                    <h3>What is Lorem Ipsum?</h3>
                                    <i class="collapseicon"></i>
                                </div>
                            </div>

                            <div class="chliduserdoclist collapse">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.
                                        It has survived not only five centuries,</p>
                                </div>
                            </div>
                        </div>
                        <div class="card js_collapseparent">
                            <div class="card-header js_collapse">
                                <div class="extra-featureheader">
                                    <h3>Why do we use it?</h3>
                                    <i class="collapseicon"></i>
                                </div>
                            </div>
                            <div class="chliduserdoclist collapse">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that
                                        it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content
                                        here, content here', making it look like readable English</p>
                                </div>
                            </div>
                        </div>
                        <div class="card js_collapseparent">
                            <div class="card-header js_collapse">
                                <div class="extra-featureheader">
                                    <h3>Where does it come from?</h3>
                                    <i class="collapseicon"></i>
                                </div>
                            </div>
                            <div class="chliduserdoclist collapse">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that
                                        it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content
                                        here, content here', making it look like readable English</p>
                                </div>
                            </div>
                        </div>
                        <div class="card js_collapseparent">
                            <div class="card-header js_collapse">
                                <div class="extra-featureheader">
                                    <h3>Where can I get some?</h3>
                                    <i class="collapseicon"></i>
                                </div>
                            </div>

                            <div class="chliduserdoclist collapse">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that
                                        it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content
                                        here, content here', making it look like readable English</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="height: 40px"> </div>

    <section class="section lightweight-template">
        <div class="container  bring-to-front shadow rounded  p-5">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h3 class="h3">Get started with Teamwork</h3>
                    <p class="mt-3 font-20">Still have questions about how HubSpot’s software can help your business?
                    </p>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <p class="font-20 mt-0 font-weight-bold">Give us a call</p>
                    <p class="mt-3 font-22 text-themes font-weight-bold">+61-2-8046-6514</p>
                </div>
            </div>
        </div>
    </section>

</main>


<div class="modal fade detailcost" id="detailcost" tabindex="-1" role="dialog" aria-labelledby="detailcost"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="h5 text-darkgrey">Itemization of your monthly estimate</h3>
                    <p class="font-16 text-grey">The exact amount you pay will vary month-to-month based on your
                        sending volume and contact list size. Here’s an estimate of your monthly cost:</p>
                  <div style="height: 25px"></div>
                        <div class="price-calucator-item">
                        <div class="price-calucator-label">Standeran Plan</div>
                        <div class="price-calucator-value">$79.95</div>
                    </div>
                    <div class="price-calucator-item">
                        <div class="price-calucator-label">200 Orders</div>
                        <div class="price-calucator-value">$0.00</div>
                    </div>
                    <div class="price-calucator-item">
                        <div class="price-calucator-label">Standeran Plan</div>
                        <div class="price-calucator-value">$79.95</div>
                    </div>
                    <div class="price-calucator-item">
                        <div class="price-calucator-label">200 Orders</div>
                        <div class="price-calucator-value">$0.00</div>
                    </div>
     
                    <hr class="my-3">
                    <div class="price-calucator-item">
                            <div class="price-calucator-label">Estimated monthly cost</div>
                            <div class="price-calucator-value text-themes2 font-20">$0.00</div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>