<section class="section lightweight-template">
  <div class="container py-3">

    <div class="row">
      <div class="col-lg-8 col-md-12 mx-auto">
        <div style="height: 50px" class="d-none d-lg-block"></div>

        <div class="card bg-light2">
          <div class="card-body pb-4 pt-0">
            <div class="text-center mb-1">
              <img src="/assets/img/06-loader_telega.gif" height="190" width="260" class="op-7">
            </div>
            <h2 class="text-center text-darkgrey h4 my-4">Please wait setting up your store</h2>

            <div class="row my-2">
              <div class="col-lg-8 col-md-12 mx-auto">
                <p>
                  <ngb-progressbar type="progress-bar-Themes" [value]="25"></ngb-progressbar>
                </p>
              </div>
            </div>
            <div class="slidingVertical">
              <span>Pleease wait we setting your stroe</span>
              <span>Fasten you seat belt</span>
              <span>here we go</span>
              <span>look this near to come</span>
              <span>AH AH AHHH AH</span>
            </div>

          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
